.container.row
  .col-sm-12
    %h1.display-4 Smartflix
    %p.display.lead Find out more about your favourite movies.
  .container.row
    - @shows.each do |show|
      .col-sm-3.d-flex.align-items-stretch.mb-4
        .card
          %img.card-img-top{:alt => "placeholder", :src => "https://via.placeholder.com/150"}
            .card-body
              %h5.card-title= "#{show['title']} (#{show['release_year']})"
              %p.card-text= show['type']
              %p.card-text= show['description']
